

    <!-- BOOTSTRAP CORE STYLE  -->
    <!-- CSS only -->
<div class="col-lg-6" style="width: 100%;height:100%;margin-top:60;float:right;">
    <div class="card card-small mb-4">
      <div class="card-header border-bottom">
        <h4 class="m-0" >Chi Tiết 1 Sản Phẩm</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-3">
          <div class="row">
            <div class="col">
            
            <form action="/sanpham/{{product._id}}/edit" method="POST" enctype="multipart/form-data">
              
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Name</label>
                                    <input type="text" name="name" class="form-control"  value="{{product.name}}">
                  </div>
                  <div class="form-group col-md-12">
                    <label>Price</label>
                    <input type="text" name="price" class="form-control"  value="{{product.price}}">
                  </div>
                     <div class="form-group col-md-12">
                    <label>Quantity</label>
                                    <input type="text" name="quantity" class="form-control" value="{{product.quantity}}">
                  </div>
                  <div class="form-group col-md-12">
                    <label>Image</label>
                                    <input onchange="onChangeFile();" type="file" id="image-file" name="image" class="form-control" >
                                    
    <img style="display: none;" src="'{{product.image}}'" id="image-view" width="200" height="200"/>
                  </div>
                  <div class="form-group col-md-12">
                <label>Description</label>
                <textarea class="form-control" rows="3"
                    name="description">{{product.description}}</textarea>
            </div>
            
            <div class="form-group col-md-12">
                <label>Category</label>
                <select class="form-control" name="category_id">
                    {{#each categories}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-12">
                <label>Released</label>
                <input class="form-control" type="date" value="{{product.released}}" name="released">
            </div>
                <br>
               <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-success">Reset</button>
              </form>
             
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
<script>
    const onChangeFile = () => {
        const file = document.getElementById('image-file').files[0];
        const reader = new FileReader();
        reader.onload = e => {
            document.getElementById('image-view').src = e.target.result;
            document.getElementById('image-view').style.display = 'block';
        }
        reader.readAsDataURL(file);
    }
</script>

